<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes App</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>📝 Notes</h1>

    <div class="note-form">

        <form action="/edit/{{ idx }}" method="POST">

            <input
                type="text"
                name="title"
                placeholder="{{ note.title }}"
                required
            >

            <textarea
                name="content"
                rows="6"
                placeholder="{{ note.content }}"
                required
            ></textarea>

            <button type="submit">
                Add Note
            </button>

        </form>

    </div>
