<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes App</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>📝 Notes</h1>

    <div class="note-form">

        <form action="/add" method="POST">

            <input
                type="text"
                name="title"
                placeholder="Note title"
                required
            >

            <textarea
                name="content"
                rows="6"
                placeholder="Write your note..."
                required
            ></textarea>

            <button type="submit">
                Add Note
            </button>

        </form>

    </div>

    <hr>

    <div class="notes">

        <!-- Flask will loop through notes here -->

        {% for note in notes %}

        <div class="card">

            <h2>{{ note.title }}</h2>

            <p>{{ note.content }}</p>

            <div class="actions">

                <a href="/edit/{{ note.id }}">
                    <button class="edit">Edit</button>
                </a>

                <a href="/delete/{{ note.id }}">
                    <button class="delete">Delete</button>
                </a>

            </div>

        </div>

        {% endfor %}

    </div>

</div>

</body>
</html>